  <div class='sub-container user-container'>
    <div class='row'>
      <%= image_tag "https://robohash.org/#{user_role(@user)}#{@user.middle_name}.png" %>
    </div>
    <div class='row edit-row'>
      <%= flip_form_helper(@user, :url => {:action => 'save_me' }) do |f| %>
        <%= f.hidden_field :id %>
        <%= f.input :first_name %>
        <%= f.input :middle_name %>
        <%= f.input :last_name %>
        <% if Flip.on?(:specific_user_role) %>
          <%= f.input :user_role, collection: @roles %>
        <% else %>
          <%= f.input :role %>
        <% end %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
